[Unit]
Description=oam-docker-ipam
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile=-/etc/oam-docker-ipam/oam-docker-ipam.conf
User=root
# set GOMAXPROCS to number of processors
ExecStart=/bin/bash -c "GOMAXPROCS=$(nproc) /usr/bin/oam-docker-ipam --debug=\"${IPAM_DEBUG}\" --dhcp-server=\"${DHCP_SERVER}\" --listen-addr=\"${LISTEN_ADDR}\" server"
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target